{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}
{% block body %}

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">{{ general.name }}
                    <span class="text-primary">{{ general.surname }}</span>
                </h1>
                <div class="subheading mb-5">
                    <a href="mailto:{{ general.email }}">{{ general.email }}</a>
                </div>
          <p class="mb-5">{{ general.about }}</p>
          <ul class="list-inline list-social-icons mb-0">

                <li class="list-inline-item">
                    <a href="https://www.instagram.com/{{ general.instagram }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/{{ general.linkedin }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/{{ general.github }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                </ul>
            </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>
                {% for exp in experiences %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{exp.title}}</h3>
                        <div class="subheading mb-3">{{exp.CompanyWorked}}</div>
                        <p>{{ exp.details }}</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">{{exp.StartDate}} - {{exp.DateOfQuit}}</span>
                    </div>
                </div>
                {% endfor %}



            </div>

        </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>

                {% for edu in education %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{ edu.title }}</h3>
                        <div>{{ edu.department }}</div>
                        {% if edu.score != NULL  %}
                            <p>{{ edu.score }}</p>
                        {% endif %}
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">{{ edu.StartingDate}} - {{ edu.GraduationDate }}</span>
                    </div>
                </div>
                {% endfor %}


            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
            <div class="my-auto">
                <h2 class="mb-5">Projects</h2>

                {% for proj in projects %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0"><a href="{{ proj.LinkToProject }}">{{ proj.title }}</a></h3>
                        <div style="color: black">{{ proj.description }}</div>
                        <br><p>{{ proj.details }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>


        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>

                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline list-icons">
                    {% for skill in skills %}
                    <li class="list-inline-item">
                        <i class="devicons devicons-{{ skill.title }}"></i>
                    </li>
                    {% endfor %}

                </ul>

                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">

                    {% for wf in workflow %}
                        <li>
                            <i class="fa-li fa fa-check"></i>
                            {{wf.title}}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>

                {% for interest in interests %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{ interest.title }}</h3>
                        <p>{{ interest.details }}</p>
                    </div>
                </div>
                {% endfor %}



        </section>
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certificates">
            <div class="my-auto">
                <h2 class="mb-5">Certificates</h2>



                {% for cert in certificates %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">{{ cert.title }}</h3>
                        <a href="{{ asset('assets/img/' ~ cert.link) }}"><p>Link to certificate</p></a>
                    </div>
                </div>
                {% endfor %}

        </section>
    </div>

{% endblock %}